.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(242, 235, 235);
}
.posts_n_sugestion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
