.topics {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.topics > img {
  max-width: 15rem;
  border-radius: 15px;
  color: #fff;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.topics > img:hover {
  transform: scale(1.2);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.topics > p {
  position: absolute;
  font-size: large;
  top: 2rem;
  left: 4rem;
  color: #fff;
  font-size: 2rem;
  font-family: cursive;
}
.test {
  color: black;
  background-color: red;
}
